.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.gitignore
.Rbuildignore
medfate.Rproj
src-i386/*.*
src-x64/*.*
modeltests/*.tex
modeltests/*.log
modeltests/*.pdf
modeltests/*.gz
modeltests/*.toc
inst/doc/*.*
