.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.gitignore
.Rbuildignore
medfate.Rproj
modeldescription/*.tex
modeldescription/*.log
modeldescription/*.pdf
modeldescription/*.gz
modeldescription/*.toc
