.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.gitignore
.Rbuildignore
medfate.Rproj
src-i386/*.*
src-x64/*.*
modeldescription/*.log
modeldescription/*.pdf
modeldescription/*.gz
modeldescription/*.toc
modeldescription/_book/*
modeldescription/_bookdown_files/*
modeltests/*.tex
modeltests/*.log
modeltests/*.pdf
modeltests/*.gz
modeltests/*.toc
inst/doc/*.*
