import(sp)
import(spdep)
import(methods)
import(meteoland)
importFrom("stats", "aggregate","filter","uniroot", "median")
importFrom("grDevices", "rainbow")
importFrom("graphics", "axis", "abline", "barplot", "legend", "lines", "matplot","mtext",
           "matlines", "par", "polygon","axis.Date")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "head", "tail")
importFrom("GSIF", "REST.SoilGrids","over")
importFrom("ggplot2", "ggplot", "aes", 
           "geom_line", "geom_path", "geom_area", "geom_abline", "geom_hline", 
           "geom_vline", "geom_point", "geom_smooth",
           "scale_color_manual", "scale_fill_manual","scale_color_discrete", 
           "scale_linetype_discrete", "scale_linetype_manual",
           "xlim", "ylim", "xlab", "ylab", "facet_wrap", "vars",
           "theme_bw")
useDynLib(medfate, .registration = TRUE)
exportPattern("^[[:alpha:]]+")


importFrom(Rcpp, evalCpp)
S3method(plot,pwb)
S3method(plot,pwb_day)
S3method(plot,spwb)
S3method(plot,spwb_day)
S3method(plot,growth)

S3method(summary, pwb)
S3method(summary, spwb)
S3method(summary, growth)
S3method(summary, forest)


S3method(print, summary.forest)
S3method(print, soil)