# Default NAMESPACE created by R
# Remove the previous line if you edit this file
import(sp)
import(spdep)
import(methods)
import(meteoland)
importFrom("stats", "aggregate","filter","uniroot")
importFrom("graphics", "axis", "abline", "barplot", "legend", "lines", "matplot","mtext",
           "matlines", "par","axis.Date")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("GSIF", "REST.SoilGrids","over")
# Export all names
useDynLib(medfate)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
S3method(plot,swb)
S3method(plot,growth)
S3method(plot,swbgrid)
# S3method(plot,fb)
# S3method(plot,fbpoints)
S3method(summary,swb)
S3method(summary,growth)
S3method(summary,forest)
S3method(print,summary.forest)
S3method(print,soil)